body {
  font-family: 'Lato', sans-serif;
  text-align-last: center;
}

#container-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: .625rem;
}